.new-tweet-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 20%;
}

.new-tweet-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.tweet-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px;
  border-bottom: solid;
  height: 2em;
  resize: none;
  background-color: #f4f1ec;
  margin-bottom: 20px;
  width: 100%;
}

.tweet-text:focus {
  outline: none;
}

.form-text {
  display: flex;
  flex-direction: row;
  Justify-content: space-between;
  font-family: Bungee, sans-serif;
}

#tweet-btn {
  background-color: darkblue;
  color: white;
  outline: none;
  padding: 5px;
  border: 0;
  font-size: 17px;
  cursor: pointer;
}

#button-border {
  border: 4px solid transparent;
  border-radius: 2px;
  padding: 1px;
}


#button-border:hover {
  border: 4px solid rgb(59, 98, 148);
  padding: 1px;
}